/* MemoQ WebTrans Tools action bar */
#memoqwtools {
	position: fixed;
	width: auto;
	height: 30px;
	background-color: lightgrey;
	cursor: pointer;
	z-index: 500;
}

/* MemoQ WebTrans Tools action button */
#memoqwtools img {
	margin: 3px;
}

#memoqwtools-length {
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	padding: 0px 5px 5px 2px;
	vertical-align: top;
}

#memoqwtools-limit {
	padding: 0px 5px 5px 2px;
	vertical-align: super;
}

.limit-exceeded {
	color: red;
}

#memoqwtools div {
	background-color: lightgrey;
}

#memoqwtools-vars span {
	font-weight: 700;
}

.memoqwtools-varsmissing {
	color: red;
}

.memoqwtools-varsredundant {
	color: green;
}

/* differences in cases */
#tm_information .segment .caseInsensitiveCommon, .compare_boxes .segment .tm_information .caseInsensitiveCommon {
	background-color: purple;
	color: white;
}

/* changes in fuzzies */
#tm_information .segment .change, .compare_boxes .segment .tm_information .change {
	background-color: red;
	color: white;
}

/* missing parts from current in fuzzies */
#tm_information .segment .currdelete, .compare_boxes .segment .tm_information .currdelete {
	background-color: blue;
	color: white;
}

/* missing parts from memory in fuzzies */
#tm_information .segment .memdelete, .compare_boxes .segment .memdelete {
	background-color: skyblue;
	color: white;
}