/* MemoQ WebTrans Tools action bar */
#memoqwtools {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 195px;
	height: 30px;
	background-color: lightgrey;
	cursor: pointer;
	z-index: 500;
}

/* MemoQ WebTrans Tools action button */
#memoqwtools img {
	margin: 3px;
}